@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,100&display=swap');
*{
  font-family: "poppins";
}
form{
    display: grid;
    max-width: 300px;
    margin: 0 auto;
    border: 1px solid;
    padding: 10px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.274);
    border-radius: 10px;
    border: rgba(42, 157, 235, 0.822) solid ;
}

label{
    text-align: start;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: bold;
    
}

button{
    margin: 20px;
    background-color: rgba(42, 157, 235, 0.822);
    border-radius: 20px;
    border:none;
    padding: 10px;
    text-transform: uppercase;
    color: white;
    font-size: 11px;
    letter-spacing: 2px;
}

button:hover{
    background-color: rgba(122, 185, 226, 0.822);
}
label::after{
    content:"";
    width:20px;
    background: blue;
}

table, th, td {
    border: 1px solid;
    
    border-collapse: collapse;
    text-transform: uppercase;
    text-align: left;
    font-family: 'Poppins';
    font-size: 10px;
    
    
    

  }

  table{
    margin:0 auto;
    
    
    
    
  }

th{
    background-color:  rgba(222, 235, 243, 0.822);
    color: rgb(0, 0, 0);
    padding: 15px;
    font-weight: bold;
}

  h4 {
      text-align: center;
      margin: 20px;
      text-transform: uppercase;
  }
  
/*alerta*/
  
